html {
    height: 100%;
    font-family: 'Comic Sans MS';
}

body {
    background-image: linear-gradient(blue, yellow, red, green, pink, orange, violet);
    background-repeat: no-repeat;
    height: fill;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}